@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 圖片自適應 */
img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 全域border-box */
*,
*::before *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  position: relative;
  background: #ffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

.bg.bg1 {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg");
  width: 850px;
  height: 768px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

.bg.bg2 {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 100vh;
  -webkit-transform: translate(-80%);
          transform: translate(-80%);
}

.bg.bg3 {
  position: absolute;
  width: 310px;
  height: 310px;
  top: 300vh;
  right: 0vw;
  z-index: -1;
}

.bg.bg4 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 460vh;
  left: -10vw;
  z-index: -1;
}

.top {
  position: fixed;
  width: 5%;
  right: 5vw;
  bottom: 3vh;
  z-index: 1000;
}

@media (max-width: 376px) {
  .bg.bg1 {
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg") no-repeat;
    left: 20px;
    top: 391px;
  }
  .bg.bg2 {
    width: 126px;
    height: 126px;
    top: 106vh;
    -webkit-transform: translate(-70%);
            transform: translate(-70%);
  }
  .top {
    position: fixed;
    width: 13%;
    right: 5vw;
    bottom: 3vh;
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

@media (max-width: 376px) {
  .container {
    max-width: 355px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header-home {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: -16px;
  padding-right: -16px;
}

.header-home .logo {
  width: 218px;
}

.header-home a {
  padding: 8px 32px;
  display: block;
  background: #FF5D50;
  border-radius: 22px;
  color: #FFFFFF;
  font-size: 16px;
}

.header-home a:hover {
  padding: 8px 32px;
  display: block;
  background: #ff3425;
  border-radius: 22px;
}

@media (max-width: 376px) {
  .header-home {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #FFD153;
  }
  .header-home .logo {
    width: 130px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 116px;
}

.banner-pic img {
  width: 532px;
}

.banner-text {
  padding-top: 158px;
}

.banner-text article {
  color: #56C4C5;
  font-size: 18px;
  font-weight: bold;
}

.banner-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #221E1F;
  padding: 8px 0 16px 0;
}

.banner-text p {
  font-size: 20px;
  color: #221E1F;
}

@media (max-width: 376px) {
  .banner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 38.5px;
  }
  .banner-pic img {
    width: 304px;
    display: block;
  }
  .banner-text {
    width: 100%;
    padding-top: 0px;
  }
  .banner-text article {
    font-size: 16px;
  }
  .banner-text h1 {
    font-size: 32px;
  }
  .banner-text p {
    font-size: 16px;
  }
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.content h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.content.content1.section {
  margin-left: 20px;
  margin-right: 20px;
}

.content .content1.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
}

.content .content1.items li {
  width: 34%;
}

.content .content1.items li img {
  width: 90px;
  height: 90px;
  margin-left: calc((100% - 90px)/ 2);
}

.content .content1.items li h3,
.content .content1.items li p {
  padding-top: 24px;
  text-align: center;
}

.content .content1.items li h3 {
  font-size: 24px;
  font-weight: bold;
  color: #221E1F;
}

.content .content1.items li p {
  font-size: 16px;
  color: #747474;
}

.content.content2 h3,
.content.content2 article,
.content.content2 p {
  padding-top: 16px;
}

.content.content2 h3 {
  font-size: 20px;
  color: #221E1F;
  text-align: center;
}

.content2.items {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.content2.items li {
  width: 260px;
  height: 388px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.content2.items li img {
  border-radius: 12px 12px 0 0;
  min-height: 260px;
  min-width: 260px;
}

.content2.items li article {
  color: #56C4C5;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: -3px;
}

.content2.items li p {
  color: #221E1F;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 376px) {
  .content {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .content h2 {
    font-size: 28px;
  }
  .content .content1.items {
    padding-top: 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .content1.items li {
    width: 100%;
    padding-top: 24px;
  }
  .content .content1.items li img {
    width: 60px;
    height: 60px;
    margin-left: calc((100% - 60px)/ 2);
  }
  .content .content1.items li h3,
  .content .content1.items li p {
    padding-top: 16px;
  }
  .content .content1.items li h3 {
    font-size: 18px;
  }
  .content.content2 h3 {
    font-size: 18px;
  }
  .content2.items {
    padding-top: 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content2.items li {
    width: 260px;
    height: 388px;
    margin-top: 24px;
    -webkit-box-shadow: 0 2px 10px #00000014;
            box-shadow: 0 2px 10px #00000014;
    border-radius: 12px;
  }
  .content2.items li img {
    border-radius: 12px 12px 0 0;
    min-height: 260px;
    min-width: 260px;
  }
  .content2.items li article {
    color: #56C4C5;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: -3px;
  }
  .content2.items li p {
    color: #221E1F;
    font-size: 16px;
    text-align: center;
  }
}

.content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content3 .section-left {
  width: 46%;
}

.content3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content3 li {
  width: 46%;
  padding: 32px 32px 48px 32px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  margin-bottom: 28px;
}

.content3 li .item {
  border-radius: 50%;
  height: 86px;
  width: 86px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
}

.content3 li .item1 {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon01.svg") no-repeat center;
}

.content3 li .item2 {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon02.svg") no-repeat center;
}

.content3 li .item3 {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon03.svg") no-repeat center;
}

.content3 li .item4 {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/icon04.svg") no-repeat center;
}

.content3 li article {
  padding-top: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #221E1F;
}

.content3 li p {
  padding-top: 16px;
  font-size: 16px;
  color: #221E1F;
}

.content3 .section-right {
  padding: 165px 0px 164px 44px;
}

.content3 .section-right h2 {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  color: #221E1F;
}

.content3 .section-right p {
  font-size: 18px;
  color: #221E1F;
  padding-top: 16px;
}

.content3 .section-right .btn {
  margin-top: 24px;
  display: inline-block;
  padding: 12px 32px;
  background: #56C4C5;
  border-radius: 27px;
}

.content3 .section-right .btn a {
  color: #FFFFFF;
}

@media (max-width: 376px) {
  .content3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content3 .section-right {
    width: 100%;
    padding: 0px;
  }
  .content3 .section-right h2 {
    width: 100%;
    text-align: center;
    font-size: 28px;
    padding: 0px 45px 0px 45px;
  }
  .content3 .section-right p {
    text-align: center;
    font-size: 16px;
    padding-top: 16px;
  }
  .content3 .section-right .btn {
    margin-left: calc((100% - 136px) / 2);
  }
  .content3 .section-left {
    width: 100%;
  }
  .content3 .section-left ul {
    padding: 44px 52px 24px 52px;
  }
  .content3 .section-left li {
    width: 100%;
    padding: 32px 32px 48px 32px;
    -webkit-box-shadow: 0 2px 10px #00000014;
            box-shadow: 0 2px 10px #00000014;
    border-radius: 12px;
    margin-bottom: 28px;
  }
  .content3 .section-left li .item {
    border-radius: 50%;
    height: 86px;
    width: 86px;
    -webkit-box-shadow: 0 2px 10px #00000014;
            box-shadow: 0 2px 10px #00000014;
  }
}

.content4 {
  margin-top: -28px;
  margin-left: 126px;
  margin-right: 126px;
}

.content4 .cards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 104px;
}

.content4 .cards ul li > p {
  font-size: 16px;
  color: #221E1F;
  padding: 48px 0 24px 0;
  border-bottom: 1px solid #DDDDDD;
}

.content4 .cards ul li > .intro {
  margin-top: 24px;
  margin-bottom: 24px;
}

.content4 .cards ul li {
  padding-left: 32px;
  padding-right: 32px;
  width: 32.4%;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.content4 .cards ul li .avatar {
  position: absolute;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
}

.content4 .cards ul li .avatar.avatar1 {
  background: url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/user01.jpg");
  background-size: contain;
}

.content4 .cards ul li .avatar.avatar2 {
  background: url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/user02.jpg");
  background-size: contain;
}

.content4 .cards ul li .avatar.avatar3 {
  background: url("https://hexschool.github.io/webLayoutTraining1st/chatTalker_images/user03.jpg");
  background-size: contain;
}

.content4 .cards ul li .intro .job {
  font-weight: bold;
  padding-bottom: 8px;
}

.content4 .cards ul li .star {
  position: absolute;
  background: url("/img/icon_star.svg") repeat;
  background-size: contain;
  padding: 2px;
  height: 20px;
  width: 100px;
  -webkit-transform: translate(190%, -210%);
          transform: translate(190%, -210%);
}

.content4 .pagination {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content4 .pagination a {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 100px;
  height: 10px;
  width: 10px;
  display: block;
  background-color: #DDDDDD;
  border-radius: 50%;
}

.content4 .pagination a.actived {
  width: 16px;
  background-color: #FFD153;
  border-radius: 50px;
}

@media (max-width: 376px) {
  .content4 {
    margin-top: -28px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .content4 .cards ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-top: 104px;
  }
  .content4 .cards ul li {
    margin-left: 20px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: calc(100% - 40px);
    -webkit-box-shadow: 0 2px 10px #00000014;
            box-shadow: 0 2px 10px #00000014;
    border-radius: 12px;
    background-color: #FFFFFF;
  }
}

.footer-home {
  height: 384px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg") no-repeat center;
}

.footer-home .container h3 {
  padding: 260px 332px 48px 332px;
  font-size: 32px;
  color: #221E1F;
  font-weight: bold;
}

.footer-home .container .btn {
  margin-bottom: 100px;
  padding: 12px 32px;
  background: #56C4C5;
  border-radius: 27px;
  display: inline-block;
  color: #FFFFFF;
  margin-left: calc((100% - 136px) / 2);
}

.footer-home .container .btn a {
  color: #FFFFFF;
}

.copyright {
  color: #221E1F;
  font-size: 16px;
  background-color: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}

@media (max-width: 376px) {
  .footer-home {
    height: 261px;
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/footer_sm.svg") no-repeat center;
  }
  .footer-home .container h3 {
    padding: 293px 0px 24px 0px;
    font-size: 24px;
  }
}

.bg-price.bg1 {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner.svg) no-repeat;
  height: 559px;
  width: 885px;
  position: absolute;
  z-index: -1;
  right: 0;
}

.bg-price.bg2 {
  height: 470px;
  width: 100%;
  background-color: #F7F9FD;
  position: absolute;
  z-index: -2;
  border-radius: 0px 0px 0px 300px;
}

@media (max-width: 376px) {
  .bg-price.bg1 {
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner_sm.svg) no-repeat;
    height: 495px;
    width: 375px;
    margin-top: 74px;
    position: absolute;
    z-index: -1;
    right: 0;
  }
  .bg-price.bg2 {
    height: 495px;
    width: 375px;
  }
}

.section1 {
  padding-bottom: 180px;
}

.section1 h1 {
  font-weight: bold;
  font-size: 48px;
  padding-top: 92px;
}

.section1 p {
  font-size: 16px;
  padding-top: 16px;
}

@media (max-width: 376px) {
  .section1 {
    padding-bottom: 180px;
  }
  .section1 h1 {
    font-weight: bold;
    font-size: 32px;
    padding-top: 48px;
  }
  .section1 p {
    font-size: 16px;
    padding-top: 16px;
  }
}

.content-price .title.title1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}

@media (max-width: 376px) {
  .content-price .title.title1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 240px;
  }
}

.content-price .btn.number ul {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-price .btn.number ul li {
  border: 1px solid #56C4C5;
  border-radius: 27px;
  margin: 0 8px;
}

.content-price .btn.number ul a {
  padding: 12px 32px;
  display: block;
  color: #56C4C5;
}

.content-price .btn.number ul li.selected {
  background-color: #56C4C5;
}

.content-price .btn.number ul li.selected a {
  padding: 12px 32px;
  display: block;
  color: #FFFFFF;
}

@media (max-width: 376px) {
  .content-price .btn.number ul {
    padding-top: 24px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-size: 16px;
  }
  .content-price .btn.number ul a {
    padding: 8px 16px;
    width: 96px;
    height: 40px;
  }
  .content-price .btn.number ul li.selected {
    background-color: #56C4C5;
  }
  .content-price .btn.number ul li.selected a {
    padding: 8px 16px;
  }
}

.content-price .cards {
  padding-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-price .cards h3 {
  font-size: 24px;
  padding: 16px 24px;
  color: #221E1F;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
}

.content-price .cards .title.title2 {
  padding-top: 32px;
  font-size: 16px;
  text-align: center;
  color: #221E1F;
}

.content-price .cards .card {
  width: 45%;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  border-radius: 12px;
  margin: 0 10px;
}

.content-price .cards .card .btn.cta {
  padding: 12px 32px;
  background: #56C4C5;
  border-radius: 27px;
  display: inline-block;
  margin-left: calc((100% - 136px) / 2);
  margin-top: 32px;
  margin-bottom: 32px;
}

.content-price .cards .card .btn.cta a {
  color: #FFFFFF;
}

.content-price .cards .card .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 32px 30px 0 30px;
}

.content-price .cards .card .counter .equal {
  font-size: 29px;
  color: #221E1F;
  line-height: 126px;
}

.content-price .cards .card .counter .subtitle {
  font-size: 14px;
  padding: 16px 32px 24px 32px;
  background-color: #F5F5F5;
  border-radius: 12px;
}

.content-price .cards .card .counter .subtitle p {
  padding-top: 8px;
}

.content-price .cards .card .counter .subtitle .money {
  font-size: 32px;
}

.content-price .cards .card .counter .subtitle .number,
.content-price .cards .card .counter .subtitle .money {
  text-align: center;
  font-size: 32px;
  color: #56C4C5;
}

.content-price .cards .card .counter .subtitle .number sub,
.content-price .cards .card .counter .subtitle .money sub {
  font-size: 14px;
}

.content-price .cards .card .counter .subtitle .money {
  color: #221E1F;
}

.content-price .cards .card .items {
  padding: 32px 30px 0 30px;
}

.content-price .cards .card .items li {
  padding-top: 16px;
}

.content-price .cards .card .items li img {
  padding-right: 12px;
}

@media (max-width: 376px) {
  .content-price .cards {
    padding: 32px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-price .cards h3 {
    font-size: 24px;
    padding: 16px 24px;
    color: #221E1F;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
  }
  .content-price .cards .title.title2 {
    padding-top: 32px;
    font-size: 16px;
    text-align: center;
    color: #221E1F;
  }
  .content-price .cards .card {
    width: 100%;
    -webkit-box-shadow: 0 2px 10px #00000014;
            box-shadow: 0 2px 10px #00000014;
    border-radius: 12px;
    margin: 24px 10px;
  }
  .content-price .cards .card .btn.cta {
    padding: 12px 32px;
    background: #56C4C5;
    border-radius: 27px;
    display: inline-block;
    margin-left: calc((100% - 136px) / 2);
    margin-top: 0;
    margin-bottom: 24px;
  }
  .content-price .cards .card .btn.cta a {
    color: #FFFFFF;
  }
  .content-price .cards .card .counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .content-price .cards .card .counter .equal {
    font-size: 24px;
    color: #221E1F;
    line-height: 126px;
  }
  .content-price .cards .card .counter .subtitle {
    font-size: 14px;
    padding: 16px 16px;
    background-color: #F5F5F5;
    border-radius: 12px;
  }
  .content-price .cards .card .counter .subtitle p {
    padding-top: 8px;
  }
  .content-price .cards .card .counter .subtitle .number,
  .content-price .cards .card .counter .subtitle .money {
    font-size: 28px;
    color: #56C4C5;
  }
  .content-price .cards .card .counter .subtitle .number sub,
  .content-price .cards .card .counter .subtitle .money sub {
    font-size: 12px;
  }
  .content-price .cards .card .counter .subtitle .money {
    color: #221E1F;
  }
  .content-price .cards .card .items {
    padding: 27px 16px;
  }
  .content-price .cards .card .items li {
    font-size: 14px;
    padding-top: 16px;
  }
  .content-price .cards .card .items li img {
    padding-right: 12px;
  }
}

.content-price .content.faq ul {
  padding-top: 48px;
}

.content-price .content.faq ul li {
  padding: 16px 32px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  font-size: 18px;
  color: #221E1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-price .content.faq ul li .text {
  font-size: 16px;
  color: #747474;
  line-height: 28px;
}

.content-price .content.faq ul li .text .question {
  font-size: 18px;
  color: #56C4C5;
  padding-bottom: 24px;
}
/*# sourceMappingURL=all.css.map */